@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 200px;
}
/* shared style */
.text_primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-1{
   color: #181818;
}
.section_title{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
}
.section_desc{
    font-size: 12px;
    color: #474747;
}
.btn{
    padding: 15px 25px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
}
.btn_2{
    padding: 14px 24px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 15px;
    background-color: transparent;
    font-weight: bold;
}
.secondary_background{
    background-color: #FFF8F3;
}
.mr-20{
    margin-right: 20px;
}
.text_center{
    text-align: center;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 0px 200px;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;

}
.nav_title{
    font-weight: bolder;
    font-size: 30px;
}


/* banner style */
.banner{
    display: flex;
    
    justify-content: space-between;
}
.banner_cont{
    margin-top: 200px;
    /* margin-left: 120px; */
}
.banner_cont h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner_cont h2{
    font-size: 40px;

}
.banner_cont p{
    font-size: 12px;
    margin-bottom: 20px;
    width: 380px;
}
.banner_img{
    margin-top: 80px;
    height: 600px;
    max-width: 640px;
}
.banner_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* about section */
.about{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF8F3;
}
.about .about_con{
    padding: 20px 100px;
}
.about .about_con p{
    padding: 0px 120px;
}
 .about_item {
    display: flex;
    justify-content: space-between;
    padding: 20px 220px 100px 220px;
    
}
.items> label{
    display: block;
}
.items>span{
    font-size: 14px;
    font-weight: bold;
}
/* 
skills start */

.skills > p{
    /* padding: 0px 250px; */
    text-align: center;
}
.skill_items{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.skill_item{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_item span{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.skill_item p{
    width: 145px;
}
.skill_desc{
    padding: 20px;
}
.skill_img{
    padding: 10px;
}
/* resume start */
.resume_container{
    display: flex;
   gap: 50px;
}
.resume_col_title{
    font-size: 25px;
    font-weight: bold;
}
.exp_h4{
    font-size: 20px;
    font-weight: bold;
}
.exp_p1{
    font-size: 15px;
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
}
.exp_p2{
    width: 290px;
}
.experience{
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}
.resume h3{
    margin: 100px;
}
.resume_container{
    margin-bottom: 20px;
}
.resume > .resume_btn button{
    margin: 20px 0px 100px;
}

/* resume end */
footer{
    padding: 100px 200px;
    
}
.footer_cont{
    display: flex;
    gap: 100px;
}
.footer_cont_p{
    width: 370px;
}
.resume_form input{
    display: block;
    margin-bottom: 10px;
}
.foot_cont_img{
    display: flex;
    gap: 20px;
}
footer input[type="text"],[type="email"], textarea{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 10px 10px;
}
.contact, .message{
    width: 50%;
}
.margin_top{
    margin-top: 20px;
}

/* responsive styles */
.hide{
    display: none;
}

@media screen and (max-width: 576px){
    .skill_items{
        flex-direction: column;
        color: red;
    }
    .main{
        padding: 0px;
        margin: 0px;
    }
    .skill_item p {
        width: 100%;
    }
    .resume_container{
        flex-direction: column;
    }
    .footer_cont{
        flex-direction: column;
        gap: 10px;
    }
    .footer_cont_p{
        width: 100%;
    }
    footer {
        padding: 20px 20px;
    }
    
    .contact, .message{
        width: 100%;
    }
}
